$branco: #FFF;
$rosa: #FF0F9A;
$roxo: #B343C3;

$cor-primaria: #FFC107;
$cor-secundaria: #343A40;


body{
   color:$cor-secundaria;
}

a{
    text-decoration: none !important;
}

h1{
    font-size: 26px;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}